*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 20px auto;
    width: 80%;
    background-color: lightgray;
    font-family: Century Gothic, 'Times New Roman', Times, serif;
}

h3{
    padding: 5px;
    font-size: 24px;
    font-family: cursive;
}

.Navbar {
    margin: 30px 45px;
    padding: 20px; 
    background-color: #fff;
}

.Navbar ul {
    list-style: none;
}

.Menu > li{ 
    position: relative; 
    display: inline-block;
}

.Menu > li > a { 
    display: block; 
    padding: 15px 65px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-decoration: none; 
    color: black;}

.Menu li a:hover{
    color: coral;
    transition: all .3;
}

.AboutMe{
    margin: 30px 45px;
    padding: 20px;
    background-color: peachpuff;
    outline: 2px peachpuff auto;
}

.AboutMe img{
    padding: 14.5px;
    width: 30%;
    height: 30%;
    align-self: center;
}

.InformacionPersonal {
    display: flex;
}

dl{
    margin-left: 20px;
    margin-top: 20px;
}

dt{
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

dd{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Experience{
    margin: 30px 45px;
    padding: 20px;
    background-color: whitesmoke;
    outline: 2px auto whitesmoke;
}

.TablaExp{
    width: 80%;
}

.Fecha {
    padding: 15px 65px;
    text-align: center;
}

.Contenido {
    padding: 15px;
    width: 70%;
}

.TablaExp img{
    padding: 15px;
    width: 200px;
    height: 150px;
}

.ContactMe{
    margin: 30px 45px;
    padding: 20px;
    background-color: peachpuff;
    outline: 2px auto peachpuff;
}

.ContactoInterno{
    display: flex;
}

.Contactos{
    list-style: none;
}

.Contactos a{
    text-decoration: none; 
    color: black;
    margin: 10px;
    padding: 5px;
    display: block;
    text-align: center;
}

.Formulario{
    background-color: coral;
    outline: 2px auto coral;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
}